<ion-header>
  <ion-navbar color="light-orange">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span ion-text class="logo" color="none">stucateX </span><span color="none">{{theSubject}}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<div *ngFor="let resource of resources">
			<ion-list-header color="light-green" style="margin-bottom:0;"><b>{{resource.topic}}</b></ion-list-header>
			<ion-item no-padding *ngFor="let link of resource.links" detail-push>
				<p style="padding-left:10px;" (click)="openLink(link.href)"><span style="font-size:18px;">{{link.title}}</span>
				<br>
				<span style="font-size:14px;">{{link.website}}</span>
			</p>
			</ion-item>
		</div>
	</ion-list>
	<p ion-text style="text-align:center;font-size:20px;">More {{ theSubject }} resources coming soon...</p>
</ion-content>
