<ion-menu type="overlay"[content]="content">
  <ion-content class="menu-content myBg">
      <div style="text-align:center;padding-bottom:5px;">
        <ion-title>
          <h2 ion-text style="font-size:40px;font-family:Permanent Marker;
          text-shadow: 1px 1px 2px black;" color="orange">stucate</h2>
        </ion-title>
        {{date | date:'mediumDate'}}
      </div>
		  <ion-list-header style="margin-bottom:0;">Your stuff</ion-list-header>
		  <ion-item menuClose detail-push no-lines *ngFor="let p of pages" (click)="openPage(p)" style="font-size:20px;padding:0;">
			<ion-icon style="padding-left:20px" name={{p.icon}} color="{{p.color}}" item-left></ion-icon>
			<span ion-text style="font-size:16px;font-weight:bold;" color="{{p.color}}">{{p.title}}</span>
		  </ion-item>
		  <ion-item no-lines  detail-push menuClose color="light-orange" (click)="openPage('studiiX')">
			<span ion-text style="font-size:20px;font-family:Permanent Marker;
          text-shadow: 1px 1px 2px black;" color="none">stucateX</span>
		  <ion-icon name="star" color="none" item-left></ion-icon>
		  </ion-item>
		  <ion-list-header style="margin-bottom:0;">Settings & Information</ion-list-header>
		  <ion-item menuClose detail-push no-lines *ngFor="let p of settingsPages" (click)="openPage(p)" style="font-size:20px;padding:0;">
			<ion-icon style="padding-left:20px" name={{p.icon}} color="{{p.color}}" item-left></ion-icon>
			<span ion-text style="font-size:16px;font-weight:bold;" color="{{p.color}}">{{p.title}}</span>
		  </ion-item>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
