<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your TimeTable</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list-header color="light">
		<ion-select [(ngModel)]="theDay" name="day" style="padding-left:10px;">
			<ion-option value="Monday">Monday</ion-option>
			<ion-option value="Tuesday">Tuesday</ion-option>
			<ion-option value="Wednesday">Wednesday</ion-option>
			<ion-option value="Thursday">Thursday</ion-option>
			<ion-option value="Friday">Friday</ion-option>
		</ion-select>
  </ion-list-header>
  <div *ngFor="let class of classes">
    <div *ngFor="let classDay of class.days">
     <div *ngIf="theDay == classDay">
        <ion-item>
  	     <ion-thumbnail item-left>
          <img [src]="theService.getSubjectImage(class.subject)">
        </ion-thumbnail>
  	   <p style="font-size:18px;" color="{{ class.color }}">{{class.subject}}</p>
       <p style="font-size:18px;" color="{{ class.color }}">{{class.room}}</p>
       <div *ngFor="let period of class.periods">
        <div *ngIf="theDay == period.day">
         <p style="font-size:14px;" color="{{ class.color }}">
           <ion-icon name="time"></ion-icon> {{period.startTime}} - {{period.endTime}}
         <span *ngIf="currentClassMarker(theDay, period.startTime, period.endTime)"
         item-right color="nDone"><ion-icon name="arrow-dropleft"></ion-icon></span></p>
        </div>
        </div>

     </ion-item>
    </div>
  </div>
</div>
</ion-content>
