<ion-content  style="text-align:center;background-color:none">
	<div style="width:100%;margin-top:30px;">
		<h1 style="font-size:72px;font-family:Permanent Marker;
		text-shadow: 1px 1px 2px black;" color="orange">studii</h1>
		<h5 style="margin-top:15px;">Setup 2 of 2<br>Subjects</h5>
		<ion-grid style="text-align:center;margin:0 auto;border-bottom:1px dashed orange;
		border-top:1px dashed orange;">
			<ion-row>
				<ion-col col-9 style="position:initial;padding:0;">
				<ion-input #subjectNameInput style="font-size:16px;border:none;padding-left:10px;"
				[(ngModel)]="subjectName" name="subjectName"
				type="text" placeholder="Enter subject"></ion-input>
				</ion-col>
				<ion-col col-3 style="position:initial;">
				<button ion-button small [disabled]="isAddDisabled()"
				(click)="addSubject()" style="padding:10px;">
				<ion-icon name="add"></ion-icon>
			</button>
				</ion-col>
			</ion-row>
	</ion-grid>
      <div (click)="closeKeyboard()" style="text-align:left;margin:0 auto;margin-top:30px;margin-left:10px;">
			<h4 *ngIf="isFinishDisabled()">No subjects added.</h4>
			<ion-item *ngFor="let subject of subjects" color="light">
        <h5>{{ subject.name | uppercase}}</h5>
				<!---<ion-avatar item-left>
					<img src="img/{{ subject.image }}.png" onerror="this.src='img/logo.png'"
						width="30px" height="30px"/>
				</ion-avatar>--->
				<span style="font-size:18px;" item-right (click)="removeSubject(subject)">
					<ion-icon name="trash"></ion-icon>
				</span>
      </ion-item>
			<p style="font-size:12px;" *ngIf="!isFinishDisabled()">You can edit your subjects on the profile page.</p>
      </div>
		<div style="text-align:center">
			<button (click)="nextStep()" [disabled]="isFinishDisabled()"
			ion-button color="orange" style="margin-top:10px;margin-bottom:0px;text-transform:none;">Finish</button>
		</div>
	</div>
</ion-content>
